<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern><![CDATA[%d [${HOSTNAME}] [%thread] [usrId: %X{X-User-Id:--}, uow: %X{X-UOW:--}, reqId: %X{X-RequestId:--}] %-5level %logger{36} - %msg %n]]></pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
